/*Global*/

* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
	margin: 0 auto;
	background: #F0F8EA;
	font-family: 'Quicksand', sans-serif;
}

.header {
	position: fixed;
	width: 100%;
	margin: 0 auto;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding-top: 60px;
}


/*Typography*/


.headline,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

.links {
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	display: inline-block;
}

a .github {
	width: 50px;
	height: 18px;
}

a .live {
	width: 50px;
	height: 18px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}

.container {
	width: 95%;
	max-width: 1680px;
	margin: 0 auto;
}

section {
	max-width: 1000px;
	margin: 0 auto;
}

#bio {
	display: flex;
}

#projects {
	display: flex;
}

.img-container {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	max-width: 1080px;
	height: auto;
}

.img-container.hero-img--container {
	max-width: 945px;
	height: auto;
}

img {
	width: 100%;
	height: 100%;
}

header {
	background: coral;
	color: #EBEBD3;
	padding: 1em 0;
	position: relative;
}

.footer {
	width: 100%;
	text-align: center;
	background-color: coral;
	padding: 1em 0;
	position: relative;
	height: 50px;
}

.footer a {
	font-style: normal;
	color: #EBEBD3;
}

.footer a:hover,
.footer a:focus {
	color: #464655;
}

header::after {
	content: '';
	clear: both;
	display: block;
}

.logo {
	float: left;
	font-size: 1rem;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}

.logo span {
	font-weight: 400;
}

.site-nav {
	position: absolute;
	background-color: #464655;
	top: 100%;
	/*must use percent!*/
	right: 0%;
	/*height: 0px;*/
	-webkit-clip-path: circle(0px at top right);
	clip-path: circle(0px at top right);
	-webkit-transition: all ease-in-out 1000ms;
	transition: all ease-in-out 1000ms;
}

.site-nav--open {
	/*height: auto;*/
	-webkit-clip-path: circle(150% at top right);
	clip-path: circle(150% at top right);
}

.site-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav li {
	border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
	border-bottom: none;
}

.site-nav a {
	color: #ebebd3;
	text-decoration: none;
	display: block;
	padding: 2em 4em 2em 1.5em;
	text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus {
	background-color: #e4b363;
	color: #464655;
}

.site-nav i {
	display: inline-block;
	/*allows to set a width*/
	font-size: 1.5em;
	margin-right: 1em;
	width: 1.1em;
	text-align: right;
	color: rgba(255, 255, 255, .4);
}

.menu-toggle {
	padding: 1em;
	position: absolute;
	right: .1em;
	top: .1em;
	cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	content: '';
	display: block;
	background: #ebebd3;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.open .hamburger {
	transform: rotate(45deg);
}

.open .hamburger::before {
	opacity: 0;
}

.open .hamburger::after {
	transform: translateY(-2.8px) rotate(-90deg);
}

.techContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 40px;
}

.techWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.techWrapper i {
	padding: 3px;
	margin-bottom: 10px;
}

.teal {
	color: teal;
}

.coral {
	color: coral;
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.site-nav {
		height: auto;
		position: relative;
		background: transparent;
		float: right;
		-webkit-clip-path: initial;
		clip-path: initial;
	}
	.site-nav li {
		display: inline-block;
		margin: 0;
		padding: 0;
		border: none;
	}
	.site-nav a {
		padding: 0;
		margin-left: 3em;
	}
	.site-nav i {
		display: none;
	}
	.site-nav a:hover,
	.site-nav a:focus {
		background: transparent;
	}
}